#autoplat-socialsharing a {
  display: block;
  float: left;
  font-size: 14px;
}

#autoplat-socialsharing a .name {
  padding: 4px 8px;
}

#autoplat-socialsharing a .name:first-child {
  border-radius: 8px 0 0 8px;
}


#autoplat-socialsharing a .name:last-child {
  border-radius: 0 8px 8px 0;
}

#autoplat-socialsharing a .name.facebook {
  color: #fff;
  background-color: #3d5b9c;
}

#autoplat-socialsharing a .name.twitter {
  color: #fff;
  background-color: #39a0cd;
}

#autoplat-socialsharing a .name.pinterest {
  color: #fff;
  background-color: #cb2229;
}

#autoplat-socialsharing a .name.googleplus {
  color: #fff;
  background-color: #d34836;
}
