* { font-family: 'Lato', Helvetica, Arial, sans-serif; font-weight: 300; }
html,
body { background-color: #fee35e; font-size: 16px; }

.content { margin: 10% auto 0; padding: 0 20px; max-width: 600px; }
.content form { background-color: #fff; border-radius: 8px; overflow: hidden; }
.content form .top { padding: 50px 50px 20px; text-align: center; }
.content form .top input { border: 0; margin: 0 0 30px; height: 62px; padding: 0 12px; border-bottom: 1px solid rgba(0, 0, 0, .3); width: 100%; font-size: 18px; box-sizing: border-box; }
.content form .top input:focus { outline: 0; }
.content form .bottom { border-top: 4px solid #ddd; background-color: #202020; color: #fff; }
.content form .bottom .left { display: inline-block; width: 100%; }
.content form .bottom .left .inner { margin: 0 0 30px; text-align: center; }
.content form .bottom .left .inner .item { display: block; }
.content form .bottom .left .inner .item a { color: #fff; text-decoration: none; transition: all 300ms ease-in-out; }
.content form .bottom .left .inner .item a:hover { opacity: .5; }
.content form .bottom .left .inner .item.front a { font-size: 12px; color: rgba(255,255,255,0.5); }
.content form .bottom .right { display: inline-block; width: 100%; }
.content form .bottom .right .inner { margin: 30px 0 30px; text-align: center; }
.content form .bottom .right .inner input.form-submit { display: inline-block; border: 1px solid rgba(255,255,255,0.2); padding: 20px; border-radius: 8px; color: #fff; background-color: transparent; transition: all 300ms ease-in-out; font-size: 16px; cursor: pointer; }
.content form .bottom .right .inner input.form-submit:hover { opacity: .5; }

.content .branding a { display: block; float: right; width: 130px; margin: 10px 10px 0 0; text-decoration: none; }
.content .branding a img { width: 100%; display: block; }
.content .branding a span { display: block; font-size: 10px; text-align: right; text-transform: uppercase; color: #000; text-decoration: none; line-height: 10px; }

.content .messages { margin-bottom: 40px; }

@media (min-width: 500px) {
    .content form .bottom .left { position: relative; width: 50%; right: 50%; }
    .content form .bottom .left .inner { margin: 30px 0 30px 50px; text-align: left; }
    .content form .bottom .right { position: relative; width: 50%; left: 50%; }
    .content form .bottom .right .inner { margin: 30px 50px 30px 0; text-align: right; }
}
