/* Admin Bar */
#adminBar {
    font-family: Helvetica, Arial, Sans-Serif;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: block;
    border-radius: 20px;
    background-color: #cccccc;
    opacity: .8;
    color: #000000;
    padding-left: 10px;
    height: 40px;
    font-size: 13px;
    overflow: hidden;
    z-index: 9999;
    line-height: 40px;
}

#adminBar > a,
#adminBar > span {
    display: inline-block;
    color: #000000;
    margin-right: 10px;
    text-transform: lowercase;
    text-decoration: none;
}

#adminBar > span {
    opacity: .4;
}

#adminBar > a:hover {
    text-decoration: underline;
}

#adminBar > span.at {
    margin-right: 0;
}

#adminBar > span.info {
    line-height: normal;
}

#adminBar small {
    display: block;
}

#adminBar > span.info span {
    display: block;
}

#adminBar > span.admin {
    background: #fee35e;
    opacity: 1;
    margin-right: 0;
    padding-right: 10px;
    padding-left: 10px;
}

/* MAPS ADMIN THEME SPECIFIC */
/* - Hack */
/* -- Fix /admin/config height issue */
.admin-theme div.admin {
    overflow: hidden;
}

/* -- Add warning border to input fields */
.form-item input.warning, .form-item textarea.warning, .form-item select.warning {
    border: 2px solid #f2c500
}

/* - Global */
.admin-theme #header {
    background: #202020 !important;
}

.admin-theme #header h1 {
    padding: 30px 0 !important;
    color: #ffffff;
}

.admin-theme #tabs {
    background: #202020 !important;
}

.admin-theme #content h2 {
    margin: 0 0 20px !important;
    padding: 0 0 10px !important;
    color: #666666 !important;
    font-size: 200% !important;
    text-transform: uppercase !important;
    background: transparent !important;
}

.admin-theme #content h2 a {
    color: #666666;
}

.admin-theme #content input.form-submit,
.admin-theme #content a.button,
.admin-theme #content .a.button {
    display: inline-block;
    border-radius: 2px;
    background: #f0f0f0;
    border: 1px solid #dddddd;
    color: #202020;
    cursor: pointer;
    margin: 0 20px 20px 0;
    padding: 8px 12px;
}

.admin-theme #content input.form-submit:hover,
.admin-theme #content input.form-submit:focus,
.admin-theme #content a.button:hover,
.admin-theme #content a.button:focus,
.admin-theme #content .a.button:hover,
.admin-theme #content .a.button:focus {
    background: #fee35e;
    border-color: #fee35e;
    text-decoration: none;
}

.admin-theme #content {
    background: #ffffff !important;
}

.admin-theme #content ul.tabs li a {
    background: #dddddd;
    border-color: #dddddd;
}

.admin-theme #content ul.tabs li a:hover {
    background: #dddddd;
    border-color: #dddddd;
}

.admin-theme #content ul.tabs li.active a {
    background: #ffffff;
    border-color: #ffffff;
}

.admin-theme #content ul.tabs li.active a:hover {
    background: #ffffff;
    border-color: #ffffff;
}

.admin-theme #content .form-item {
    padding: 0;
    box-shadow: none;
}

.admin-theme #content form.no_fieldset {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.admin-theme #content code {
    color: #009900;
}

.admin-theme .breadcrumb {
    display: none;
}

/* Autoplat elements */
/* #content table { background: transparent; } */
.admin-theme .autoplat-form table {
    margin-bottom: 60px;
}

.admin-theme .autoplat-form table {
    background: transparent;
    box-shadow: none;
    font-size: 100%;
}

.admin-theme .autoplat-form table thead {
    color: #999999;
    background: transparent;
}

.admin-theme .autoplat-form table thead tr {
}

.admin-theme .autoplat-form table thead tr th {
    color: inherit;
}

.admin-theme .autoplat-form table thead tr th a {
    color: inherit;
}

.admin-theme .autoplat-form table tbody tr {
    color: #333333;
    height: 51px;
    border-bottom: 1px solid #e4e4e4;
}

.admin-theme .autoplat-form table tbody tr:last-child {
    border-bottom: 0;
}

.admin-theme .autoplat-form table tbody tr.unpublished {
    background: #f8f8f8;
    transition: background 0.3s linear;
    color: #999999;
}

.admin-theme .autoplat-form table thead tr th {
    padding: 10px 10px;
}

.admin-theme .autoplat-form table tbody tr td {
    padding: 5px 10px;
}

.admin-theme .autoplat-form table tbody tr td .tip {
    font-style: italic;
    font-size: 85%;
    opacity: .5;
}

.admin-theme .autoplat-form table tbody tr td.image {
    width: 53px;
}

.admin-theme .autoplat-form table tbody tr td.image a {
    display: block;
    height: 40px;
    overflow: hidden;
}

.admin-theme .autoplat-form table tbody tr td.image a img {
    height: 40px;
}

.admin-theme .autoplat-form table tbody tr td.date .revised {
    font-style: italic;
    font-size: 85%;
    opacity: .5;
}

.admin-theme .autoplat-form table tbody tr td.status.published a,
    /* TODO: sidebar */
.admin-theme #sidebar .content {
    padding: 0 !important;
    box-shadow: none !important;
}

.admin-theme #sidebar .content ul.menu li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
}

.admin-theme #sidebar .content ul.menu li a.button {
    margin-bottom: 0;
}

.admin-theme #sidebar .content ul.menu li.last {
    border-bottom: 0;
}

/* fieldset#edit-autoplat fieldset .fieldset-wrapper { padding: 20px; } */