.autoplat_markup { width: 100%; font-size: 13px; }
.autoplat_markup *,
.autoplat_markup *:before,
.autoplat_markup *:after { box-sizing: border-box; }
.autoplat_markup .row { margin-right: -0.9375em; margin-left: -0.9375em; }
.autoplat_markup .row>.columns { padding-right: 0.9375em; padding-left: 0.9375em; float: left; }
.autoplat_markup .row>.columns.medium-1 { width: 8.33333%; }
.autoplat_markup .row>.columns.medium-2 { width: 16.66667%; }
.autoplat_markup .row>.columns.medium-3 { width: 25%; }
.autoplat_markup .row>.columns.medium-4 { width: 33.33333%; }
.autoplat_markup .row>.columns.medium-5 { width: 41.66667%; }
.autoplat_markup .row>.columns.medium-6 { width: 50%; }
.autoplat_markup .row>.columns.medium-7 { width: 58.33333%; }
.autoplat_markup .row>.columns.medium-8 { width: 66.66667%; }
.autoplat_markup .row>.columns.medium-9 { width: 75%; }
.autoplat_markup .row>.columns.medium-10 { width: 83.33333%; }
.autoplat_markup .row>.columns.medium-11 { width: 91.66667%; }
.autoplat_markup .row>.columns.medium-12 { width: 100%; }
.autoplat_markup h2 { margin-bottom: 20px; font-size: 32px; }
.autoplat_markup h3 { margin-bottom: 10px; font-size: 24px; }
.autoplat_markup pre.code { white-space: pre-wrap; margin-bottom: 20px; padding: 8px; color: #333; background: #eee; border: 1px solid #e1e1e1; border-radius: 4px; }
.autoplat_markup pre.code code span.tag { color: #af956f; }
.autoplat_markup pre.code code span.note { color: #91bd92; }